Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
django-environ==0.13.0
django-redis==5.4.0
django-rq==2.10.2
rq==1.16.2
gunicorn==25.3.0
google-cloud-speech==2.40.0
anthropic[vertex]>=0.40
